<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<p id="notice"><%= notice %></p>
<h2>Your Pragmatic Cart</h2>
<%= render @cart %>


<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>

