// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store {
    
    h1 {
    margin: 0;
    padding-bottom: 0.5em;
    font: 150% sans-serif;
    color: #226;

    }
    
    
    /* An entry in the store catalog */
    
    .entry {
    overflow: auto;
    margin-top: 1em;
    
    min-height: 100px;
    
    
    img {
    width: 200px;
    height: 120px;
    margin-left: 50%;
    padding-bottom: 20px;
        
    margin-right: 5px;
    margin-bottom: 5px;
    position: absolute;
    border-radius: 20px; 
    }
    h3 {
    font-size: 120%;
    font-family: sans-serif;
    margin-left: 100px;
    margin-top: 0;
    margin-bottom: 2px;
    color: #227;
    }
    p, div.price_line {
        
        
    margin-left: 100px;
    margin-top: 0.5em; 
    margin-bottom: 0.8em;
    form, div {
        margin-right: display;
        }
        }
    
     
    .price {
        color: #44a;
font-weight: bold;
margin-right: 3em;
}
}
 }
 input.btnadd {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
